* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(3, 3, 12);
}
.pass-cont{
  background:linear-gradient(to right, rgba(128, 128, 128, 0.452), rgba(211, 211, 211, 0.712) );
  width: 50vw;
  margin: 40px auto;
  border-radius: 20px;
  padding: 10px;
  color: black;
}
.flex{
  display: flex;
  
  gap: 0px;
}
.flex input{
  width: 49vw;
  padding:10px;
  margin: 0px;
  filter: drop-shadow(2px 3px 3px black);
  
}
button{
  padding: 10px;
  filter: drop-shadow(2px 3px 3px black);
}
.justify{
gap: 20px;
}
#btn:hover{
  background-color: white;
  transition: all 0.2s ease;

}
#copy-text{
  color:black;
  font-size: 1.2rem;
  font-style: italic;
 
}